@import "theme-variables.css";

:root {
    color: var(--text);
    background-color: var(--base);
    --accent-color: var(--pink);
}

body, html {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    height: 100%;
    font-size: 1rem;
}

html {
    display: block;
}

head {
    display: none;
}

footer {
    display: none;
}

div {
    display: block;
}

h1 {
    color: var(--accent-color);
}

select {
    background-color: var(--surface-1);
    border: 0;
    border-radius: 0;
    color: var(--text);
    padding: 0.5rem;
}

option {
    background-color: var(--surface-0);
    color: var(--text);
}

#theme-choice-theme-dark {
    background-color: #313244;
    color: #cdd6f4;
}

#theme-choice-theme-light {
    background-color: #cdd0da;
    color: #4c4f69;
}

/* this should be a fallback for color selector text colors for browsers that don't support whatever I did here */
#theme-select-entry-color option {
    color: var(--text);
}

/* color selector text colors */
#theme-select-entry-color option[value] {
    color: attr(value type(<color>)); /* ignore the errors in this one idk why it thinks it's missing ) and } cause it's not */
}

.menubar {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-left: 1rem;
    border-bottom: .125rem solid var(--surface-0);
    height: 1px;
    min-height: 1.5rem;
}

.themes {
    position: relative;
    align-self: stretch;
}

#theme-menu-toggle {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    height: 100%;
}

input[type="checkbox" i] {
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 3px 3px 4px;
    padding: initial;
    border: initial;
}

.theme-menu-toggle-button {
    background-color: var(--surface-0);
    user-select: none;
}

.menu-bar-button {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 100%;
    display: flex;
    align-items: center;
}

label {
    cursor: default;
}

.theme-menu {
    display: none;
    z-index: 2;
    position: absolute;
    right: 0;
    background-color: var(--surface-0);
    padding: 1rem;
    animation: .1s ease-in-out;
}

.theme-select {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.theme-select-entry {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}