:root {
    --crust: #11111b;
    --mantle: #181825;
    --base: #1e1e2e;
    --surface-0: #313244;
    --surface-1: #45475a;
    --surface-2: #585b70;
    --overlay-0: #6c7086;
    --overlay-1: #7f849c;
    --overlay-2: #9399b2;
    --subtext-0: #a6adc8;
    --subtext-1: #bac2de;
    --text: #cdd6f4;
    --lavender: #b4befe;
    --blue: #89b4fa;
    --sapphire: #74c7ec;
    --sky: #89dceb;
    --teal: #94e2d5;
    --green: #a6e3a1;
    --yellow: #f9e2af;
    --peach: #fab387;
    --maroon: #eba0ac;
    --red: #f38ba8;
    --mauve: #cba6f7;
    --pink: #f5c2e7;
    --flamingo: #f2cdcd;
    --rosewater: #f5e0dc;
}

/* Manual overrides (takes priority when set) */
.dark {
    --crust: #11111b;
    --mantle: #181825;
    --base: #1e1e2e;
    --surface-0: #313244;
    --surface-1: #45475a;
    --surface-2: #585b70;
    --overlay-0: #6c7086;
    --overlay-1: #7f849c;
    --overlay-2: #9399b2;
    --subtext-0: #a6adc8;
    --subtext-1: #bac2de;
    --text: #cdd6f4;
    --lavender: #b4befe;
    --blue: #89b4fa;
    --sapphire: #74c7ec;
    --sky: #89dceb;
    --teal: #94e2d5;
    --green: #a6e3a1;
    --yellow: #f9e2af;
    --peach: #fab387;
    --maroon: #eba0ac;
    --red: #f38ba8;
    --mauve: #cba6f7;
    --pink: #f5c2e7;
    --flamingo: #f2cdcd;
    --rosewater: #f5e0dc;
}

.light {
    --crust: #dce0e8;
    --mantle: #e6e9ef;
    --base: #eff1f5;
    --surface-0: #ccd0da;
    --surface-1: #bcc0cc;
    --surface-2: #acb0be;
    --overlay-0: #9ca0b0;
    --overlay-1: #8c8fa1;
    --overlay-2: #7c7f93;
    --subtext-0: #6c6f85;
    --subtext-1: #5c5f77;
    --text: #4c4f69;
    --lavender: #7287fd;
    --blue: #1e66f5;
    --sapphire: #209fb5;
    --sky: #04a5e5;
    --teal: #179299;
    --green: #40a02b;
    --yellow: #df8e1d;
    --peach: #fe640b;
    --maroon: #e64553;
    --red: #d20f39;
    --mauve: #8839ef;
    --pink: #ea76cb;
    --flamingo: #dd7878;
    --rosewater: #dc8a78;
}